
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}

header {
    background: #4CAF50; 
    color: white; 
    padding: 20px; 
    border-radius: 5px; 
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px; 
}

h2 {
    font-size: 2em;
    margin-top: 20px; 
}

p {
    margin: 10px 0;
}

table {
    width: 50%;
    border-collapse: collapse; 
    margin-top: 20px; 
    border: 2px solid black;
    border-radius: 20px;
}

td {
    padding: 10px; 
    background: #fff; 
}


th {
    background: #4CAF50; 
    color: white; 
}

.important {
    font-weight: bold;
    color: #4CAF50; 
}


